In [1]:
# Movie recommendation system 
import pandas as pd 
import numpy as np

In [6]:
# Import the dataset 
movies=pd.read_csv('movies.csv',usecols=['movieId','title'])

In [7]:
movies.dtypes

movieId     int64
title      object
dtype: object

In [13]:
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [12]:
ratings=pd.read_csv('ratings.csv',usecols=['userId','movieId','rating'])
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [14]:
# Merge the two dataset based on movieId column
Final=movies.merge(ratings,on='movieId')

In [15]:
Final.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [46]:
Total_rating=Final.dropna(axis=0,subset=['title'])

In [47]:
rating_count=(Total_rating.groupby(by=['title']))['rating'].count().reset_index().rename(columns={'rating':'totalRatingCount'})

In [48]:
rating_count.head(5)

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [49]:
Final_rating_count=Total_rating.merge(rating_count,left_on='title',right_on='title',how='left')

In [50]:
Final_rating_count.head(5)

   movieId             title  userId  rating  totalRatingCount
0        1  Toy Story (1995)       1   4.000               215
1        1  Toy Story (1995)       5   4.000               215
2        1  Toy Story (1995)       7   4.500               215
3        1  Toy Story (1995)      15   2.500               215
4        1  Toy Story (1995)      17   4.500               215

In [52]:
# This is how we can set the float format display accordingly 
pd.set_option('display.float_format',lambda x: '%.3f' % x)
print(rating_count['totalRatingCount'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: totalRatingCount, dtype: float64

In [63]:
threshold= 50
popular_movie_rating= Final_rating_count.query('totalRatingCount>=50')

In [64]:
popular_movie_rating

       movieId             title  userId  rating  totalRatingCount
0            1  Toy Story (1995)       1   4.000               215
1            1  Toy Story (1995)       5   4.000               215
2            1  Toy Story (1995)       7   4.500               215
3            1  Toy Story (1995)      15   2.500               215
4            1  Toy Story (1995)      17   4.500               215
...        ...               ...     ...     ...               ...
98310   122904   Deadpool (2016)     561   2.000                54
98311   122904   Deadpool (2016)     586   4.000                54
98312   122904   Deadpool (2016)     596   4.000                54
98313   122904   Deadpool (2016)     599   3.500                54
98314   122904   Deadpool (2016)     610   3.000                54

[41362 rows x 5 columns]

In [84]:
popular_movie_rating.query('userId<=2')['userId']

0        1
325      1
433      1
2107     1
2379     1
        ..
91356    2
93815    2
95254    2
96369    2
96728    2
Name: userId, Length: 132, dtype: int64

In [65]:
popular_movie_rating.shape

(41362, 5)

In [66]:
# creating a pivot matrix 
features_movie=popular_movie_rating.pivot_table(index='title',columns='userId',values='rating').fillna(0)

In [67]:
features_movie

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X2: X-Men United (2003),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,4.000
You've Got Mail (1998),0.000,0.000,0.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,2.000,0.000,0.000,3.500,0.000,0.000,0.000,0.000
Young Frankenstein (1974),5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,3.500,0.000,0.000,0.000,0.000
Zombieland (2009),0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500
Zoolander (2001),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,4.000

In [87]:
features_movie.shape

(450, 606)

In [89]:
features_movie.values

array([[0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 3. , 0. , 4.5],
       ...,
       [5. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 3. , 0. , ..., 0. , 0. , 3.5],
       [0. , 0. , 0. , ..., 3. , 0. , 4. ]])

In [93]:
# Converting this to array , convert to array matrix
from scipy.sparse import csr_matrix
features_movie_matrix= csr_matrix(features_movie.values)

In [95]:
from sklearn.neighbors import NearestNeighbors
features_movie_matrix

<450x606 sparse matrix of type '<class 'numpy.float64'>'
	with 41360 stored elements in Compressed Sparse Row format>

In [98]:
model=NearestNeighbors(metric='cosine',algorithm='brute')
model.fit(features_movie_matrix) #here the default number of neighbors is taken as 5 , p as 2 Euclidean default

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [99]:
features_movie.shape

(450, 606)

In [102]:
# take some random movie 
qu_ind=np.random.choice(features_movie.shape[0])
print(qu_ind)

279

In [103]:
dist,indc=model.kneighbors(features_movie.iloc[qu_ind,:].values.reshape(1,-1),n_neighbors=6)

In [106]:
dist.flatten()

array([2.22044605e-16, 4.53556882e-01, 4.92643292e-01, 4.99280740e-01,
       5.01019625e-01, 5.04547998e-01])

In [113]:
for i in range(0,len(dist.flatten())):
    if i==0:
        print('Recommendation for {0}:\n'.format(features_movie.index[qu_ind]))
    else:
        print('{0}:{1},with distance of {2}:'.format(i,features_movie.index[indc.flatten()[i]],dist.flatten()[i]))

Recommendation for Mr. & Mrs. Smith (2005):

1:Ocean's Eleven (2001),with distance of 0.4535568817257918:
2:I, Robot (2004),with distance of 0.49264329249311134:
3:Wedding Crashers (2005),with distance of 0.49928074033161896:
4:Matrix Revolutions, The (2003),with distance of 0.5010196247672929:
5:Pirates of the Caribbean: Dead Man's Chest (2006),with distance of 0.5045479977540421: